# Mengaktifkan pengaturan dasar yang wajib ada di localhost (XAMPP) & Hosting
Options +FollowSymLinks -Indexes
RewriteEngine On

# ===================================================
# MENGHILANGKAN EKSTENSI .html PADA URL
# ===================================================
# 1. Pastikan yang diakses BUKAN sebuah folder
RewriteCond %{REQUEST_FILENAME} !-d

# 2. Pastikan file .html-nya benar-benar ada di dalam folder
RewriteCond %{REQUEST_FILENAME}\.html -f

# 3. Lakukan rewrite (hanya untuk request yang tidak mengandung titik/ekstensi lain)
RewriteRule ^([^\.]+)$ $1.html [NC,L]